@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --animate-duration: 0.5s;
}

html, body, #root {
  height: 100vh;
}

#root {
  background-color: #000;
}

* {
  box-sizing: border-box!important;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}
